body {
    color: #2e2520;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 28px;
    color: #00338e;
    text-align: center;
}

p {
    font-size: 18px;
}

.menu {
    width: 700px;
    margin: 0 auto;
}

.menu__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    color: #130936;
}

.menu__heading span {
    color: rgb(65, 157, 233);
}

.menu__list {
    font-size: 28px;
    line-height: 1.5;
    color: #333;
}

.menu__list a {
    color: pink;
    text-decoration: none;
    font-weight: bold;
}

.menu__list a:hover {
    text-decoration: underline;
}

.cards {
    width: 1115px;
    margin: 20px auto;
}

.cards__wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 500px;
    margin: 8px;
    border-radius: 25px;
    background-color: #f7e7da;
}

.cards img {
    display: block;
    padding: 10px;
    margin: 30px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: white;
}

.cards p {
    text-align: justify;
    margin: 20px;
}

.cards .dinner {
    object-position: -30px 1px;
}

.cards__category {
    display: inline-block;
    position: absolute;
    color: white;
    padding: 10px;
    margin: -12px 0 0 20px;
    border-radius: 20px 0 10px 20px;
    background-color: #00338E;
    font-size: 16px;
    text-transform: uppercase;
}

.main__descr {
    text-align: justify;
    line-height: 1.5;
    width: 700px;
    margin: 0 auto;
}

.layout {
    margin: 20px auto;
    border: 2px dashed black;
    width: 800px;
}

.layout__red {
    margin: 80px 50px;
    border: 2px solid red;
    width: 300px;
    height: 300px;
}

.layout__green {
    margin: 0 50px 50px;
    width: 400px;
    border: 1px solid green;
}

.layout__green p {
    padding: 30px;
    text-align: justify;
}